/*
Syntax error: Undefined variable: "$textfont".
        on line 4 of /Users/alto/workspace/mt7.de/sass/partials/_generics.sass
        from line 6 of /Users/alto/workspace/mt7.de/sass/ie.sass

1: /Users/alto/workspace/mt7.de/sass/ie.sass

Backtrace:
/Users/alto/workspace/mt7.de/sass/partials/_generics.sass:4
/Users/alto/workspace/mt7.de/sass/ie.sass:6
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/script/variable.rb:45:in `_perform'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/script/node.rb:40:in `perform'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:215:in `visit_prop'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:145:in `block in visit_import'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:145:in `map'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:145:in `visit_import'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/tree/root_node.rb:20:in `render'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/engine.rb:291:in `_render'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/engine.rb:239:in `block in render'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/sass-3.1.2/lib/sass/engine.rb:239:in `render'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:133:in `block (2 levels) in compile'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:119:in `timed'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:132:in `block in compile'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/logger.rb:45:in `red'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:131:in `compile'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:111:in `compile_if_required'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:98:in `block (2 levels) in run'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:96:in `each'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:96:in `block in run'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:119:in `timed'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/compiler.rb:95:in `run'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/commands/watch_project.rb:142:in `recompile'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/commands/base.rb:18:in `execute'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/bin/compass:25:in `block in <top (required)>'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/bin/compass:39:in `call'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/gems/compass-0.11.3/bin/compass:39:in `<top (required)>'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/bin/compass:19:in `load'
/Users/alto/.rvm/gems/ruby-1.9.2-p290@mt7.de/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$textfont\".\A         on line 4 of /Users/alto/workspace/mt7.de/sass/partials/_generics.sass\A         from line 6 of /Users/alto/workspace/mt7.de/sass/ie.sass\A \A 1: /Users/alto/workspace/mt7.de/sass/ie.sass"; }
