---
layout: default
title: thorsten böttger - latest business blog entries
current: blog
---
<h1>Latest Business Blog Entries</h1>
{% for post in site.categories.business limit: 10 %}
  <article>
    <h2><span class="date">{{ post.date | date_to_string }}</span> <a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>
      {{ post.content }}
      {% if post.has_more? %}
        <a href="{{ post.url }}#more" class="right">read more...</a>
      {% endif %}
    </p>
  </article>
{% endfor %}

<p>Older Posts are to be found in <a href="/business/index.html">the archives...</a>
