---
title: Entwicklung eines Pen-gestützten Postscript-Editors
layout: project
from_month: 04
from_year: 1994
to_month: 08
to_year: 1994
---
%img{:src => '/images/content/clab_medium.jpg', :alt => 'C-Lab Logo'}

%p
  Implementierung eines graphischen Postscript-Editors zur Verwendung unter Microsoft Windows for Pen Computers (in C++)
