---
title: Qualitätssicherung für EOS
layout: project
from_month: 09
from_year: 1994
to_month: 11
to_year: 1995
---
%img{:src => '/images/content/clab_medium.jpg', :alt => 'C-Lab Logo'}

%p
  Entwicklung von Testklassen, Beispiel- und Testanwendungen, Durchführung von Tests und Bugfixing für EOS 
  (ein plattformunabhängiges Framework zur Entwicklung von graphischen Anwendungen, in C++)
