---
title: Entwicklung eines Autorensystems
layout: project
from_month: 12
from_year: 1995
to_month: 01
to_year: 1997
---
%img{:src => '/images/content/clab_medium.jpg', :alt => 'C-Lab Logo'}

%p
  Entwurf und Realisierung eines Multimedia-Autorensystems zum Zusammenstellen, Synchronisieren 
  und Abspielen von Video-, Text- und Audiosequenzen (in C++)
