---
title: Entwicklung einer Klassenbibliothek zur Visualisierung von Simulationsergebnissen
layout: project
from_month: 06
from_year: 1997
to_month: 10
to_year: 1997
---
%img{:src => '/images/content/mobile_medium.png', :alt => 'MOBILE Logo'}

%p
  Entwurf und Realisierung einer Klassenbibliothek im Rahmen des MOBILE-Systems (MOdel Base for an 
  Integrative view of Logistics and Environment, ein Projekt der Volkswagen-Stiftung in Zusammenarbeit 
  mit dem Fachbereich Informatik der Universität Hamburg), mit Hilfe von 
  %a{:href => 'http://java.sun.com/'} Java
  und 
  %a{:href => 'http://de.wikipedia.org/wiki/VRML'} VRML
