---
title: Curry
layout: project
from_month: 11
from_year: 1998
to_month: 09
to_year: 2000
---
%img{:src => '/images/content/curry_medium.png', :alt => 'Logo der Curry Communication GmbH'}

%p
  Im Rahmen des <a href="http://www.curry.de">Curry</a>-Projektes war ich verantwortlich 
  für folgende Teilaufgaben:
  Interimsprojektleitung für das gesamte CoSy-Projekt,
  Entwurf eines Workflow-Managementsystems (und Entwicklung eines Prototypen in Java),
  Entwurf und Aufbau einer Middle-Tier-Architektur (auf Basis von <a href="http://www.corba.org/">CORBA</a> 
  und später <a href="http://java.sun.com/products/ejb/">EJB</a>),
  Anforderungsanalyse eines Unternehmenssystems,
  Evaluierung eines <a href="http://www.uml.org/">UML</a>-CASE-Tools.
