---
title: webwayr
layout: project
from_month: 01
from_year: 2001
to_month: 12
to_year: 2001
---
%img{:src => '/images/content/webwayr_medium.png', :alt => 'Logo der webwayr GmbH'}
%img{:src => '/images/content/mack_medium.png', :alt => 'Logo der Mack Werbeagentur GmbH'}

%p
  Konzeption von Websites (Navigation, Struktur, Inhalte), Umsetzung des Website-Designs mit Hilfe von 
  HTML, CSS und JavaScript mit entsprechender Konfiguration der eingesetzten Apache-Webserver; Anbindung 
  an MySQL-Datenbanken und Erstellung von CGI-Scripten (<a href="http://www.perl.com/">Perl</a>); 
  Referenzen: 
  <a href="http://www.king-kamehameha.de/">www.king-kamehameha.de</a>, 
  <a href="http://www.gdv-dl.de/">www.gdv-dl.de</a>, 
  <a href="http://www.notfond.de/">www.notfond.de</a>, 
  <a href="http://www.typklassen.de/">www.typklassen.de</a>, 
  <a href="http://www.zentralruf.de/">www.zentralruf.de</a>, 
  <a href="http://www.mack-wa.de/">www.mack-wa.de</a>, 
  <a href="http://www.interweichert.de/">www.interweichert.de</a>, 
  <a href="http://www.dove.de/">www.dove.de</a>.
%p
  Zudem wurde ein Simulationstool für Börsenstrategien entwickelt: 
  Konzeption des Tools (inkl. Erstellung des Pflichtenheftes und prototypischem Proof-of-Concept), 
  Analyse und Anforderungsermittlung, 
  Entwicklung der Systemarchitektur, 
  Design und Implementierung des Systems in 
  <a href="http://java.sun.com/">Java</a> (Applet/Servlet) 
  in Zusammenarbeit mit einem Entwicklerteam in Bukarest (Rumänien), 
  dabei Portierung von <a href="http://www.borland.de/delphi/">Delphi</a>-Klassen und -Modellen in eine Java-Umgebung, 
  Integration, Test und Deployment lauffähiger Versionen in eine verteilte Umgebung mit 
  <a href="http://www.oracle.com/technology/products/oracle8i/">Oracle 8i Datenbank</a> und 
  <a href="http://www.oracle.com/technology/tech/java/oc4j/">Oracle Servlet Engine OC4J</a>.
