---
title: Reuters RPMS
layout: project
from_month: 02
from_year: 2002
to_month: 01
to_year: 2004
---
%img{:src => '/images/content/reuters_medium.png', :alt => 'Logo der Reuters AG'}

%p
  Entwicklung eines Portfolio-Managementsystems f체r Banken:
  Entwurf und Implementierung von Middle-Tier- und Backend-Komponenten f체r ein heterogenes 
  Anwendungsframework (<a href="http://java.sun.com/">Java</a>, <a href="http://de.wikipedia.org/wiki/C-Plusplus">C++</a>, 
  Batch) auf Solaris- und Windows-Plattformen und auf Basis eines CORBA-채hnlichen Kommunikationsmodells; Pflege und 
  Design des zugrundeliegenden Datenmodells auf einer Oracle-Datenbank; Dokumentation der entwickelten Komponenten 
  innerhalb des RPMS (Reuters Portfolio Management System); systematisches Testen und Debuggen der Systemkomponenten; 
  Durchf체hrung von Refactoring zur Verbesserung der Wartbarkeit und Erweiterbarkeit; Entwicklung Web-Service-Adapters
  (Servlet, <a href="http://www.w3.org/TR/soap/">SOAP</a>, <a href="http://ws.apache.org/axis/">Apache Axis</a>, 
  <a href="http://www.w3.org/TR/wsdl">WSDL</a>).
