---
title: Reuters Configuration Management
layout: project
from_month: 02
from_year: 2004
to_month: 12
to_year: 2005
---
%img{:src => '/images/content/reuters_medium.png', :alt => 'Logo der Reuters AG'}

%p
  Verantwortlich f端r das Configuration Management von RPMS: 
  Change-, Build- und Release-Management f端r ein 50-Personen-Projekt zur Entwicklung eines 
  Portfolio-Managementsystems f端r Banken (<a href="http://www.nongnu.org/cvs/">CVS</a>, 
  Imake/Make/<a href="http://ant.apache.org/">Ant</a>, 
  <a href="http://cruisecontrol.sourceforge.net/">CruiseControl</a>, Shellscript); 
  Packaging, Deployment und Operating des Systems; Definition, Unterst端tzung und Automatisierung 
  von Entwicklungsprozessen (mit Hife von <a href="http://www.python.org/">Python</a>).
%p
  Umstellung der Versionierung von <a href="http://www.nongnu.org/cvs/">CVS</a>
  auf <a href="http://subversion.tigris.org/">Subversion</a>.

