---
title: Launch des Finanznetzwerks Define
layout: project
from_month: 11
from_year: 2007
to_month: 12
to_year: 2007
---
%img{:src => '/images/content/define_medium.jpg', :alt => 'Logo von Define'}

%p
  Inbetriebnahme und Betreuung der Betaphase des Netzwerks <a href="http://www.define-europe.com/">define</a>; 
  Suchmaschinen- und Performance-Optimierung und Fine-Tuning der Funktionalität
