---
title: Uniiks
layout: project
from_month: 02
from_year: 2007
to_month: 05
to_year: 2007
---
%img{:src => '/images/content/llm_uniiks_medium.png', :alt => 'Logo von Uniiks LLM'}
%img{:src => '/images/content/mba_uniiks_medium.png', :alt => 'Logo von Uniiks MBA'}

%p
  Erweiterung der Informationsplattform 
  <a href="http://www.uniiks.com/">Uniiks</a> 
  um Web 2.0-Funktionen; Uniiks und seine beiden Fachrichtungsplattformen 
  <a href="http://llm.uniiks.com/">LLM.uniiks.com</a> (für Jura) und 
  <a href="http://llm.uniiks.com/">MBA.uniiks.com</a> (für MBA) 
  kommunizieren dabei über eine <a href="http://de.wikipedia.org/wiki/Representational_State_Transfer">REST</a>-Schnittstelle
