---
title: Qype
layout: project
from_month: 01
from_year: 2006
to_month: 01
to_year: 2007
---
%img{:src => '/images/content/qype_medium.jpg', :alt => 'Logo der Qype GmbH'}

%p
  Entwicklung der Web 2.0-Plattform <a href="http://qype.com">Qype</a>:
  Konzeption und Erstellung unter Berücksichtigung von <a href="http://de.wikipedia.org/wiki/Web_2.0">Web 2.0</a>-Konzepten 
  (tagging, folksonomy, social networking, interaktive/dynamische Inhalte); 
  mit Hilfe von <a href="http://www.rubyonrails.org/">Ruby on Rails</a>, 
  <a href="http://en.wikipedia.org/wiki/Ajax_(programming)">Ajax</a> und 
  <a href="http://www.extremeprogramming.org/">eXtreme Programming</a>.
