---
title: Entwicklung der Ideen- und Projektbörse ideenzutaten (starterspark)
layout: project
from_month: 09
from_year: 2007
to_month: 10
to_year: 2007
---
%img{:src => '/images/content/starterspark_medium.png', :alt => 'Logo von ideenzutaten/starterspark'}

%p
  Konzeption und Implementierung der Kommunikationsplattform <a href="http://www.ideenzutaten.de">ideenzutaten.de</a> 
  (starterspark.com) mit Web 2.0-Mitteln, <a href="http://www.rubyonrails.org/">Ruby on Rails</a> und Ajax bzw. JavaScript.
