---
title: DaWanda
layout: project
from_month: 12
from_year: 2006
to_month: 04
to_year: 2007
---
%img{:src => '/images/content/dawanda_medium.jpg', :alt => 'Logo der DaWanda GmbH'}

%p
  Unterstützung bei der Qualitätssicherung und Erweiterung der Website 
  <a href="http://dawanda.com">DaWanda</a>; Ausbau der Testklassen und -methoden; 
  Optimierung von Datenbank-Zugriffen 
  basierend auf <a href="http://www.rubyonrails.org/">Ruby on Rails</a>.