---
title: Entwicklung des Finanznetzwerks Define
layout: project
from_month: 06
from_year: 2007
to_month: 08
to_year: 2007
---
%img{:src => '/images/content/define_medium.jpg', :alt => 'Logo von Define'}

%p
  Konzeption und Implementierung des Finanznetzwerks <a href="http://www.define-europe.com/">Define</a> 
  mit Hilfe von Web 2.0 und 
  <a href="http://www.rubyonrails.org/">Ruby on Rails</a>; 
  dabei standen die Themen der Finanzwelt und deren Kommunikation im Vordergrund.
