---
title: Entwicklung der Live-Event-Plattform Tempodome
layout: project
from_month: 01
from_year: 2008
to_month: 09
to_year: 2008
---
%img{:src => '/images/content/tempodome_medium.png', :alt => 'Tempodome Logo'}

%p
  Aufbau der Live-Plattform 
  {{ page.from }}
  %a{:href => 'http://tempodome.com'} tempodome.com 
  auf Basis von Ruby on Rails und Einbindung von Flash-Komponenten.
