---
title: Xing
layout: project
from_month: 10
from_year: 2008
to_month: 06
to_year: 2010
---
%img{:src => '/images/content/xing_medium.jpg', :alt => 'Xing Logo'}

%p
  Weiterentwicklung und Pflege des Business-Netzwerks 
  %a{:href => 'http://www.xing.com'} xing.com 
  auf Basis von Ruby on Rails.
