---
title: 9flats
layout: project
from_month: 10
from_year: 2010
to_month: 01
to_year: 2012
---
%img{:src => '/images/content/9flats.png', :alt => '9flats Logo'}

%p
  %a{:href => 'http://www.9flats.com'} 9flats.com
  is a flat-sharing community, where you can find places to stay all
  over the world. My responsibilty was to build the platform from scratch,
  together with the guys from
  %a{:href => 'http://www.railslove.com'} Railslove, 
  using
  %a{:href => 'http://www.rubyonrails.org'} Ruby on Rails,
  %a{:href => 'http://http://jquery.com/'} jQuery,
  %a{:href => 'http://http://haml-lang.com/'} HAML
  and
  %a{:href => 'http://http://sass-lang.com/'} SASS.
  The team was distributed over 3 different locations, which at the end wasn't
  a barrier at all.
