---
title: Father and Son
layout: post
---
%blockquote
  %span.apostroph &ldquo;
  %p
    From the moment I could talk
    %br
    I was ordered to listen
  %cite
    taken from 
    &ldquo;Father and Son&rdquo;
    by Yusuf Islam (aka Cat Stevens)
