---
title: Fingerpainting our office
layout: post
---
%p
  %img{:src => '/images/content/fingerpainting_blanksand.jpg', :alt => 'Instagram Photo of us fingerpainting our office wall', :class => 'full'}
%p
  Taken with 
  %a{:href => "http://instagr.am/p/L9z2V/"}
    Instagram
