---
title: Der spürt seine Fesseln nicht
layout: post
---
%p
  %img{:src => '/images/content/fesseln.jpg', :alt => 'Instagram Photo of a nice saying', :class => 'full'}
%p
  Taken with 
  %a{:href => "http://instagr.am/p/GKs-E/"}
    Instagram
