---
title: Wood on black beach
layout: post
---
%p
  %img{:src => '/images/content/wood_on_black_beach.jpg', :alt => 'Instagram Photo of bright drift wood on a dark black beach', :class => 'full'}
%p
  Wood on a black beach
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
