---
title: Fame
layout: post
---
%p
  %img{:src => '/images/content/fame.jpg', :alt => 'Instagram Photo of a street graffiti showing the Fame logo', :class => 'full'}
%p
  I have to admit that Fame was one of my
  %a{:href => "http://en.wikipedia.org/wiki/Fame_(1980_film)"}
    favorite movies,
  and
  %a{:href => "http://en.wikipedia.org/wiki/Fame_(1982_TV_series)"}
    the TV show
  one of my must-see things, when I was young (yes, that was in the Eighties).
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
