---
title: Remembering wars
layout: post
---
%blockquote
  %span.apostroph &ldquo;
  %p
    Perhaps, when we remember wars, we should take off our clothes and paint ourselves blue and go on all
    fours all day long and grunt like pigs. That would surely be more appropriate than noble oratory and
    shows of flags and well-oiled guns.
  %cite
    %a{:href => 'http://en.wikipedia.org/wiki/Kurt_Vonnegut'} Kurt Vonnegut
    from &ldquo;Cat's Cradle&rdquo;, published in 1963
