---
title: I love this corner
layout: post
---
%p
  %img{:src => '/images/content/corner.jpg', :alt => 'Instagram Photo of the best corner in Wellington, New Zealand', :class => 'full'}
%p
  I love this corner
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
