---
title: Couriers in New Zealand
layout: post
---
%p
  %img{:src => '/images/content/couriers.jpg', :alt => 'Instagram Photo of a courier car in Wellington', :class => 'full'}
%p
  In New Zealand, even the courier cars look cool!
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
