---
title: Castlepoint, New Zealand
layout: post
---
%p
  %img{:src => '/images/content/castlepoint.jpg', :alt => 'Instagram Photo of the lighthouse in Castlepoint, New Zealand', :class => 'full'}
%p
  Last weekend we stayed in Castlepoint on east coast of the north island of New Zealand. Words
  cannot describe how beautiful this spot is. If you haven't been there yet, do so as soon as
  possible! No excuses accepted!
%p
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=Castlepoint,+Wellington,+New+Zealand&amp;aq=4&amp;oq=castlepoint&amp;sll=37.0625,-95.677068&amp;sspn=44.793449,82.96875&amp;ie=UTF8&amp;hq=&amp;hnear=Castlepoint,+Wellington,+Neuseeland&amp;ll=-40.89758,176.219528&amp;spn=1.341571,2.592773&amp;t=m&amp;z=9&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=de&amp;geocode=&amp;q=Castlepoint,+Wellington,+New+Zealand&amp;aq=4&amp;oq=castlepoint&amp;sll=37.0625,-95.677068&amp;sspn=44.793449,82.96875&amp;ie=UTF8&amp;hq=&amp;hnear=Castlepoint,+Wellington,+Neuseeland&amp;ll=-40.89758,176.219528&amp;spn=1.341571,2.592773&amp;t=m&amp;z=9" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
%p
  Taken with
  %a{:href => "http://instagr.am"}
    Instagram
