---
title: The Karori tunnel
layout: post
---
%p
  %img{:src => '/images/content/karori_tunnel.jpg', :alt => 'Instagram Photo of the Karori tunnel', :class => 'full'}
%p
  This is the Karori tunnel which connects the suburb Karori with the Wellington city centre.
  Most people take their car to drive through it. But that day we decided to do the walk of
  about 4 kilometers.
%p
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=1+Richmond+Ave,+Karori,+Wellington,+Neuseeland&amp;daddr=Lambton+Quay,+Wellington,+New+Zealand&amp;hl=de&amp;geocode=FfwCiv0diitqCimtI_rA-LA4bTFLyCe_OQOD1w%3BFZIWiv0dIt9qCilhJK1EK644bTH_1v6lDwCosg&amp;aq=1&amp;oq=lambton&amp;sll=-41.28316,174.752998&amp;sspn=0.04173,0.090895&amp;mra=ltm&amp;ie=UTF8&amp;ll=-41.28316,174.752998&amp;spn=0.01072,0.04725&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=1+Richmond+Ave,+Karori,+Wellington,+Neuseeland&amp;daddr=Lambton+Quay,+Wellington,+New+Zealand&amp;hl=de&amp;geocode=FfwCiv0diitqCimtI_rA-LA4bTFLyCe_OQOD1w%3BFZIWiv0dIt9qCilhJK1EK644bTH_1v6lDwCosg&amp;aq=1&amp;oq=lambton&amp;sll=-41.28316,174.752998&amp;sspn=0.04173,0.090895&amp;mra=ltm&amp;ie=UTF8&amp;ll=-41.28316,174.752998&amp;spn=0.01072,0.04725&amp;t=m" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
