---
title: Vulcano
layout: post
---
%p
  %img{:src => '/images/content/vulcano.jpg', :alt => 'Instagram Photo of Mount Ruhapeha, Wellington, New Zealand', :class => 'full'}
%p
  This is Mount Ngauruhoe in the
  %a{:href => "http://doc.govt.nz/parks-and-recreation/national-parks/tongariro/"}
    Tongariro National Park,
  New Zealand, most likely known as Mount Doom of Mordor from the
  %a{:href => "http://en.wikipedia.org/wiki/The_Lord_of_the_Rings_film_trilogy"}
    Lord of the Rings
  trilogy. And yes, we did the Tongariro Alpine Crossing, together with our little 5 year old kiddo Kester, who walked the
  whole distance of 19.4 km!
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
