---
title: Painted a year ago
layout: post
---
%p
  %img{:src => '/images/content/bird_on_the_street.jpg', :alt => 'Instagram Photo of bird painted with chalk', :class => 'full'}

%p
  Roughly a year ago a very good friend of mine,
  %a{:href => "http://www.nonuts.de"} Benjamin Rabe,
  was organising an event for
  %a{:href => "http://www.fingerpainted.it"} iPhone fingerpainters
  from all over the world. He invited them to come over to our shared
  office space and have a couple of drinks. I can't remember who came up
  with the idea, but we finally bought a bunch of paint tubes and asked
  the painters to try and somehow return to real painting, with real paint
  and a real canvas. And since all of them should do it together, the canvas
  simply had to be one of our office walls.
%p
  %img{:src => '/images/content/fingerpainting_1.jpg', :alt => 'Instagram Photo of fingerpainting in progress', :class => 'full'}

%p
  Over the next couple of hours, these guys really went into something, and
  so the painting on our wall grew and grew.
%p
  %img{:src => '/images/content/fingerpainting_2.jpg', :alt => 'Instagram Photo of fingerpainting in progress', :class => 'full'}

%p
  And it grew even further.
%p
  %img{:src => '/images/content/fingerpainting_3.jpg', :alt => 'Instagram Photo of fingerpainting in progress', :class => 'full'}

%p
  We really had good fun watching the work in progress. Everybody, even guests without prior
  painting experience, was giving it a try. Everybody was invited to fill the wall up and
  paint what they were feeling like.
%p
  %img{:src => '/images/content/fingerpainting_4.jpg', :alt => 'Instagram Photo of fingerpainting in progress', :class => 'full'}

%p
  Everybody was in a flow. Even when waiting outside, it was a nice and warm night, the
  people couldn't stop painting, this time using crayons, and they went on painting little
  pictures on the street.
%p
  %img{:src => '/images/content/chalk_group.jpg', :alt => 'Instagram Photo of fingerpainting on the streets using chalk', :class => 'full'}

%p
  After having painted for almost 5 hours, everybody was happy with the result and
  proud of being part of this happening. The final picture is about 5 meters wide and
  almost 3 meters high, and it does not fit in full size on the following image.
%p
  %img{:src => '/images/content/fingerpainting_finished_wall.jpg', :alt => 'Instagram Photo of finished fingerpainting', :class => 'full'}

%p
  But feel invited to come over and take a look yourself! The painting is still there
  and will be around until we leave the office to the next residents. When coming
  back to the office the next morning, we were glad it haven't rained yet and the chalk
  paintings outside were still visible.
%p
  %img{:src => '/images/content/chalk_next_day.jpg', :alt => 'Instagram Photo of finished chalk fingerpainting', :class => 'full'}

%p
  When taking a closer look at the big painting inside, I noticed a number of
  nifty details.
%p
  %img{:src => '/images/content/fingerpainting_detail_1.jpg', :alt => 'Instagram Photo of fingerpainting details', :class => 'full'}
%p
  %img{:src => '/images/content/fingerpainting_detail_2.jpg', :alt => 'Instagram Photo of fingerpainting details', :class => 'full'}
%p
  %img{:src => '/images/content/fingerpainting_detail_3.jpg', :alt => 'Instagram Photo of fingerpainting details', :class => 'full'}

%p
  It was just a wonderful evening. Thanks to everyone who was taking part in this, and even
  more thanks to the guy who created this living and one-of-a-kind experience, Benjamin Rabe!
