---
title: Cricket and Hills
layout: post
---
%p
  %img{:src => '/images/content/wellington_cricket_and_hills.jpg', :alt => 'Instagram Photo of playing Cricket with hills in the back', :class => 'full'}
%p
  Taken with 
  %a{:href => "http://ink361.com/#/photos/127113671529685043_3542007"}
    Instagram
