---
title: Five Factors to make your Life more creative
layout: post
---
%blockquote
  %span.apostroph &ldquo;
  %p
    %strong Space:
    “You can’t become playful, and therefore creative, if you’re under your usual pressures.”
  %p
    %strong Time:
    “It’s not enough to create space; you have to create your space for a specific period of time.”
  %p
    %strong Time again:
    “Giving your mind as long as possible to come up with something original,” and learning to tolerate the discomfort of pondering time and indecision.
  %p
    %strong Confidence:
    “Nothing will stop you being creative so effectively as the fear of making a mistake.”
  %p
    %strong Humor:
    “The main evolutionary significance of humor is that it gets us from the closed mode to the open mode quicker than anything else.”
  %cite
    John Cleese,
    %a{:href => 'http://www.youtube.com/watch?v=ijtQP9nwrQA&feature=player_embedded'}
      A lecture on creativity,
    1991
