---
title: The Art of Living
layout: post
---
%blockquote
  %span.apostroph &ldquo;
  %p
    A master in the art of living draws no sharp distinction between his work and his play; his labor and his leisure;
    his mind and his body; his education and his recreation. He hardly knows which is which. He simply pursues his
    vision of excellence through whatever he is doing, and leaves others to determine whether he is working or playing.
    To himself, he always appears to be doing both.
  %cite
    %a{:href => 'http://en.wikiquote.org/wiki/L._P._Jacks'} L. P. Jacks
    from &ldquo;Education Through Recreation&rdquo;, published in 1932
