---
title: I could stay here forever
layout: post
---
%p
  %img{:src => '/images/content/could_stay_here_forever.jpg', :alt => 'Instagram Photo of my sons sitting on top of Makara peak, Wellington, New Zealand', :class => 'full'}
%p
  I could stay here forever
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
