---
title: That's Wellington
layout: post
---
%p
  %img{:src => '/images/content/wellington_style.jpg', :alt => 'Instagram Photo of a typical house and road in Wellington, New Zealand', :class => 'full'}
%p
  This picture represents the Wellington style pretty much. Old and new in once place, with lots
  of very steep hills and roads.
%p
  Taken with
  %a{:href => "http://instagr.am"}
    Instagram
