---
title: Yeah!
layout: post
---
%p
  %img{:src => '/images/content/yeah.jpg', :alt => 'Instagram Photo of a Yeah! event in Wellington, New Zealand', :class => 'full'}
%p
  That's one of the reasons why I am in New Zealand...
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
