---
title: All along the watchtower
layout: post
---
%blockquote
  %span.apostroph &ldquo;
  %p
    All I've got is a red guitar,
    %br
    three chords, and the truth.
    %br
    All I've got is a red guitar,
    %br
    the rest is up to you.
  %cite
    taken from
    &ldquo;All along the watchtower&rdquo;
    by Bob Dylan
