---
title: The German Indifference
layout: post
---

%blockquote
  %span.apostroph &ldquo;
  %p
    I will stand arms outstretched, pretend I'm free to roam
    %br
    I will make my way, through, one more day in hell
    %br
    How much difference does it make...
  %cite
    taken from
    &ldquo;Indifference&rdquo;
    by Pearl Jam

%p
  %img{:src => '/images/content/bird_on_the_street.jpg', :alt => 'Instagram Photo of bird painted with chalk', :class => 'full'}

%p
  I guess it's the same for me. Overwhelmed by all the news I hear.
  Buried under all the things I have to do for a living, and getting
  me and my family through life. Surprised and shocked, speechless
  about all details popping up every day now. One can't count all the
  weird things you get in touch with these days, NSA and Prism, Chemical
  weapons used against brothers and sisters (human beings altogether),
  bomb terror (does anybody count the number of bomb attacks still? or
  do you still imagine how many people 50 or a dozen of killed bodies
  are?), drug cartels and gangsters killing hundreds and thousands of
  people just to keep their business running, corruption, sex with
  underage persons, oil platforms set up in the wild without any safety
  percautions (neither for the environment nor for their own employees),
  and lots, lots more. I guess nobody can still hear it all or even
  count all the things which are totally nuts.

  Roughly a year ago a very good friend of mine,
  %a{:href => "http://www.nonuts.de"} Benjamin Rabe,
  was organising an event for
  %a{:href => "http://www.fingerpainted.it"} iPhone fingerpainters
  from all over the world. He invited them to come over to our shared
  office space and have a couple of drinks. I can't remember who came up
  with the idea, but we finally bought a bunch of paint tubes and asked
  the painters to try and somehow return to real painting, with real paint
  and a real canvas. And since all of them should do it together, the canvas
  simply had to be one of our office walls.
