---
title: Making of
layout: post
---
%p
  Let's get started, using a pencil.
%p
  %img{:src => '/images/content/making_of_1.jpg', :alt => 'Making of, part 1', :class => 'full'}
%p
  Trace it using a fineliner.
%p
  %img{:src => '/images/content/making_of_2.jpg', :alt => 'Making of, part 2', :class => 'full'}
%p
  Getting rid of those pencil strokes.
%p
  %img{:src => '/images/content/making_of_3.jpg', :alt => 'Making of, part 3', :class => 'full'}
%p
  Done.
%p
  %img{:src => '/images/content/making_of_4.jpg', :alt => 'Making of, part 4', :class => 'full'}
