---
title: Our house in 82 Sunshine Ave, Karori
layout: post
---
%p
  %img{:src => '/images/content/house_82_sunshine_ave.jpg', :alt => 'Our house in 82 Sunshine Ave', :class => 'full'}
%p
  Backside of our house in 82 Sunshine Ave, Karori, Wellington, New Zealand.
