---
title: Endlich anfangen
layout: post
---
%blockquote
  %span.apostroph &ldquo;
  %p
    Wenn ich mein Leben noch einmal leben könnte, 
    %br
    im Nächsten Leben würde ich versuchen, mehr Fehler zu machen.
  %p
    Ich würde nicht so perfekt sein wollen, 
    %br
    ich würde mich mehr entspannen.
  %p
    Ich wäre ein bisschen verrückter, als ich es gewesen bin, 
    %br
    ich würde viel weniger Dinge so ernst nehmen. 
    %br
    Ich würde nicht so gesund leben. 
    %br
    Ich würde mehr riskieren, 
    %br
    würde mehr reisen, 
    %br
    Sonnenuntergänge betrachten, 
    %br
    mehr Bergsteigen, 
    %br
    mehr in Flüssen schwimmen.
  %p
    Ich war einer dieser klugen Menschen, 
    %br
    die jede Minute ihres Lebens fruchtbar verbrachten; 
    %br
    freilich hatte ich auch Momente der Freude, 
    %br
    aber wenn ich noch einmal anfangen könnte, 
    %br
    würde ich versuchen, nur mehr gute Augenblicke zu haben.
  %p
    Falls du es noch nicht weißt, 
    %br
    aus diesen besteht nämlich das Leben; 
    %br
    nur aus Augenblicken; 
    %br
    vergiß nicht den jetzigen.
  %p
    Wenn ich noch einmal leben könnte, 
    %br
    würde ich von Frühlingsbeginn an 
    %br
    bis in den Spätherbst hinein barfuß gehen. 
    %br
    Und ich würde mehr mit Kindern spielen, 
    %br
    wenn ich das Leben noch vor mir hätte.
  %p
    Aber sehen Sie … ich bin 85 Jahre alt 
    %br
    Und weiß, daß ich bald sterben werde.
  %cite
    Jorge Luis Borges
