---
title: Going to Wellington, NZ
layout: post
---
%img{:src => '/images/content/map_nz_welly.gif', :alt => 'Map of New Zealand, with Wellington'}

%p
  If you wanna know what I'm doing next, the answer is quite simple. Me and
  my family are going down under for a while, at least one year, to Wellington,
  New Zealand. 
%p
  I will work for a small company named
  %a{:href => 'http://sharesight.co.nz'} Sharesight,
  who make share portfolio management really easy. My responsibility will
  be that of a senior Rails developer.
%p
  I'm really looking forward to this adventure!
  More details to follow.
