---
title: Proud Señor Developer
layout: post
---
%p
  Proud owner of a Señor Developer t-shirt. Thanks a lot to the guys from
  %a{:href => "http://señordeveloper.com/"} Señor Developer.
  If you wanna get one of those as well, visit their
  %a{:href => "http://senordevelopershop.spreadshirt.de/"} Shop.
%p
  %img{:src => '/images/content/senor_developer.jpg', :alt => 'Instagram Photo of me wearing the Señor Developer t-shirt, in New Zealand', :class => 'full'}
%p
  Taken with 
  %a{:href => "http://instagr.am"}
    Instagram
