---
title: Valid fixtures
layout: post
---
%h2 tl;dr
%p
  tbd

%h2 Details
%p
  As mentioned in our
  %a{:href => "http://soundcloud.com/ploppcasts/ploppcasts-005-testing"} Ploppcasts session about Testing
  (German only, sorry) I'm using both fixtures and
  factories when testing my Rails applications. One of the drawbacks from
  using fixtures is that these don't have to be valid in terms of
  %a{:href => "http://api.rubyonrails.org/classes/ActiveModel/Validations.html"} ActiveModel validations.
  In order to make sure my fixtures are in fact valid I introduced a fixtures test, which is simply
  a unit test to automatically verify the fixtures' validity:
%p
  <script src="https://gist.github.com/3991095.js?file=fixtures_test.rb"></script>
%p
  So, taken these fixtures:
%p
  <script src="https://gist.github.com/3991095.js?file=users.yml"></script>
%p
  the test will indicate one failure, because the fixture
  %strong user_without_email
  is invalid. The fixture
  %strong invalid_user
  won't be marked as failure, because its name is starting with
  %em invalid_
  telling the test that it should expect an invalid fixture, and
  return a failure otherwise. By this, we can keep having even invalid fixtures
  without failing tests.
