---
title: Started watching... on GitHub
layout: post
---
%img{:src => '/images/content/ifttt.jpg', :alt => 'Logo of ifttt.com'}

%p
  If you just want to know, who of the people you follow on
  GitHub
  %em started watching
  a repository, or
  %em started following
  anyone, simply setup a task on
  %a{:href => 'http://ifttt.com'} ifttt
  and don't get all the noise provided by the GitHub activity feed.

%h2 How to set it up
%p
  1. Create a new task
  %img{:src => '/images/content/ifttt_this.jpg', :alt => 'Create a task on ifttt.com', :class => 'block'}
%p
  2. Click on
  %strong this
  and select the feed symbol
  %img{:src => '/images/content/ifttt_feed.jpg', :alt => 'Select feed symbol on ifttt.com', :class => 'block'}
%p
  3. Then choose the trigger
  %em New feed item matches
  %img{:src => '/images/content/ifttt_choose_trigger.jpg', :alt => 'Choose a trigger on ifttt.com', :class => 'block'}
%p
  4. Complete the trigger fields by entering
  %em started watching
  and your activity feed url
  %em https://github.com/alto.private.atom?token=...
  %img{:src => '/images/content/ifttt_trigger_fields.jpg', :alt => 'Complete trigger fields on ifttt.com', :class => 'block'}
%p
  5. Create the trigger by pressing the button and select a target by clicking the
  %strong that
  link.
  %img{:src => '/images/content/ifttt_that.jpg', :alt => 'Select target on ifttt.com', :class => 'block'}
%p
  6. Click on the email icon for example
  %img{:src => '/images/content/ifttt_email.jpg', :alt => 'Select email symbol on ifttt.com', :class => 'block'}
%p
  7. Then choose the trigger action again
  %em Send me an email
  %img{:src => '/images/content/ifttt_choose_target_action.jpg', :alt => 'Choose a target trigger on ifttt.com', :class => 'block'}
%p
  8. And finally create the new action by pressing
  %img{:src => '/images/content/ifttt_create_action.jpg', :alt => 'Create the action on ifttt.com', :class => 'block'}
%p
  9. Give your new task a nice description and create the task
  %img{:src => '/images/content/ifttt_final_step.jpg', :alt => 'The final step on ifttt.com', :class => 'block'}
  %strong Finished!
