body
  background: url(/images/paper6_huge.jpg)
  background-size: 100%
  font-family: $textfont

a
  background: url(/images/link_line_thin.jpg) no-repeat bottom right
  padding-bottom: 1px
  &:link, &:visited
    color: $linkcolor
    text-decoration: none
  &:hover
    color: $lightblue
    text-decoration: none
  &.hidden-link
    background: none

h1, h2, h3, h4, h5
  color: $displaycolor
  font-family: $displayfont
  margin-bottom: 0.5em
  span
    font-family: $textfont
    font-style: italic
    font-weight: 100
    font-size: 0.4em
    display: block
    height: 1.6em
    color: $blue
  a
    &:link, &:visited
      text-decoration: none
      color: #444
    &:hover
      text-decoration: underline

h1
  font-size: 2.5em
  &.multiple
    margin-top: 2em
h2
  clear: both
  margin-top: 2em
  font-size: 1.3em

ol, ul
  margin-bottom: 1em

article
  img
    float: right
    margin: 5px 10px 10px 5px
    padding: 9px
    background-color: #FFF
    -moz-box-shadow: 1px 1px 2px #888
    -webkit-box-shadow: 1px 1px 2px #888
    box-shadow: 1px 1px 2px #888
    &.full
      float: none

blockquote 
  position: relative
  margin: 0 2em 2em 1.5em
  padding:  0 0 0 1em
  font-family: $decofont
  p
    margin-bottom: 0.5em
  cite
    font-weight: bold
  .apostroph 
    display: inline
    line-height: 1ex
    position: absolute
    left: -0.25em
    top: 0.1em
    font-family: helvetica, arial, sans-serif
    font-size:  7em
    color: $lightbrown

.right
  float: right
