body
  background: url(/images/paper6_huge.jpg)
  background-size: 100%

.container
  +eleven40-container

.header, .footer, .main
  +eleven40-row
  overflow: visible

.header
  background: black url(/images/window.jpg) top left no-repeat
  color: white
  height: 211px
  border-radius: 0 0 10px 10px
  // box-shadow: 2px 2px 5px rgba(0,0,0,0.4)
  margin-bottom: 1em
  blockquote 
    float: right
    position: relative
    margin: 2em 2em 4em 4em
    padding:  0 0 0 1em
    font-family: $decofont
    p
      margin-bottom: 0.5em
    .apostroph 
      display: inline
      line-height: 1ex
      position: absolute
      left: -0.25em
      top: 0.1em
      font-family: helvetica, arial, sans-serif
      font-size:  7em
      color: $lightbrown

.footer
  margin-top: 5em
  box-shadow: -2px 0 20px rgba(0,0,0,0.4)
  padding-top: 2em
  text-align: center
  padding-bottom: 2em
  clear: both

.sidebar
  +eleven40-fourcol
  +eleven40-last
  ol
    list-style-type: none
  .twitterbadge
    margin-bottom: 1em
  .google-ads
    text-align: center
    margin: 0 auto 1em auto
    width: 180px

.content
  +eleven40-eightcol

.post-content
  img
    float: left
    margin-right: 10px
    border: 1px solid black

.imageholder
  position: relative
  width: 124px
  height: 178px
  float: left
  margin-right: 10px
  border: 0px solid black
  img
    position: absolute
    left: -30px
    top: -30px
