body
  background: url(/images/paper6_huge.jpg)
  background-size: 100%
  font-family: $textfont

a
  background: url(/images/link_line_thin.jpg) no-repeat bottom right
  padding-bottom: 1px
  &:link, &:visited
    color: $linkcolor
    text-decoration: none
  &:hover
    color: $lightblue
    text-decoration: none
  &.hidden-link
    background: none

h2, h3, h4, h5
  color: $displaycolor
  font-family: $displayfont
  margin-bottom: 0.5em
  span
    font-style: italic
    font-weight: 100
    font-size: 0.6em
    display: block
    height: 1.6em
  a
    &:link, &:visited
      text-decoration: none
      color: #444
    &:hover
      text-decoration: underline

h2
  clear: both
  margin-top: 2em
h3
  font-family: $textfont

ol, ul
  margin-bottom: 1em

.right
  float: right
