.container
  +eleven40-container

.header, .footer, .main
  +eleven40-row
  overflow: visible

.header
  background: black url(/images/window2.jpg) top left no-repeat
  border-radius: 0 0 5px 5px
  color: white
  height: 200px
  margin-bottom: 3em
  padding-top: 20px
  #name
    color: $displaycolor
    font-family: $logofont
    line-height: 0.7em
    margin: 19px 30px 0 30px
    font-weight: black
    font-size: 4em
    text-shadow: 0px 0px 5px rgba(255, 255, 0, 0.4)
    a
      z-index: 100
      text-decoration: none
      color: white
    span
      font-size: 0.5em
      font-weight: normal
  blockquote 
    float: right
    margin: 0 2em 4em 4em

.main
  padding-bottom: 2em
  .content, .sidebar
    line-height: 1.3em
    font-size: 1.2em
    p
      margin-bottom: 1em
  .content
    +eleven40-eightcol
    margin-bottom: 2em
  .sidebar
    +eleven40-fourcol
    +eleven40-last
    ol
      list-style-type: none
    .twitterbadge
      margin-bottom: 1em
    .google-ads
      text-align: center
      margin: 0 auto 1em auto
      width: 180px

.footer
  clear: both
  box-shadow: -2px 0 20px rgba(0,0,0,0.4)
  border-radius: 5px 5px 0 0
  -moz-box-shadow: inset 0 0 5px #000000
  -webkit-box-shadow: inset 0 0 5px #000000
  box-shadow: inset 0 0 5px #000000
  text-align: center
  margin-top: 5em
  padding-top: 2em
  padding-bottom: 2em
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif

img.head
  width: 124px
  height: 178px
  float: left
  margin: 4px 20px 10px -68px


#disqus_thread
  h2, h3, h4, h5
    span
      font-size: inherit
      font-weight: inherit
      display: inline
      height: inherit
      font-style: inherit
      
ul.posts
  list-style-type: none
  margin: 0
  padding: 0
  color: $textcolor
  font-family: $textfont
  font-size: 1.1em
  margin-bottom: 0.5em
  li
    margin-bottom: 0.6em
    span
      font-style: italic
      font-weight: 100
      font-size: 0.6em
      display: block
      margin-bottom: -5px
  //    height: 1.6em

.date
  font-style: italic
  font-weight: 100
  font-size: 0.5em
  display: block
  margin-bottom: 0.3em

.post-body
  img
    float: left
    margin-right: 10px
    border: 1px solid black
