<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>
  <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
      <link href="/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
  <link href="/css/smallscreen.css" media="only screen and (max-width: 1023px)" rel="stylesheet" type="text/css" />
  <link href="/css/mobile.css" media="handheld, only screen and (max-width: 767px)" rel="stylesheet" type="text/css" />
  
  <link href="/css/fontfaces.css" media="screen" rel="stylesheet" type="text/css" />

  <meta name = "viewport" content = "width = device-width, initial-scale = 1, user-scalable = no">
  <meta name="description" content="Thorsten Böttger - Ruby developer</a>, guitar music lover, amateur photographer,  absolutely galao addicted,and living in Hamburg, Germany, with his wife and his four kids."/>
  <meta name="keywords" content="Thorsten, Böttger, software engineering, software development, software entwicklung, projekt management, ruby on rails, ruby, rails, javascript, agil, Hamburg, Deutschland, Germany"/>
  <meta name="author" content="Thorsten Böttger"/>
  <meta name="copyright" content="(c) Copyright Thorsten Böttger 1998-2011"/>

  <link rel="openid.server" href="https://pip.verisignlabs.com/server" />
  <link rel="openid.delegate" href="http://alto.pip.verisignlabs.com/" />

  <!-- last updated at {{ site.time }} -->
  <!-- last updated at {{ page.current }} -->

  <link href="http://feeds.feedburner.com/mt7/atom{{page.feed_prefix}}" rel="alternate" title="ATOM Feed" type="application/atom+xml" />
  <link href="http://feeds.feedburner.com/mt7/rss{{page.feed_prefix}}" rel="alternate" title="RSS Feed" type="application/rss+xml" />
  <title>{{page.title}} - mt7.de</title>
</head>

<body>

<div class="container">

  <section class="header">
    <blockquote>
      <span class="apostroph">&ldquo;</span>
      <p>
        Dream of the kind of world
        <br />
        you wanna live in.
        <br />
        Dream it out loud,
        <br />
        at high volume
      </p>
      <cite>Bono, U2</cite>
    </blockquote>
    <div id="name"><a href="/" class="hidden-link">Thorsten Böttger</a></div>
  </section>

  <div class="main">

    <section class="content">
    {{ content }}
    </section>

    <section class="sidebar">

      <h3>Blogs</h3>
      <ol>
        <li><a href="/business/blog.html">Professional Stuff</a></li>
        <li><a href="/personal/blog.html">Personal Things</a></li>
        <li><a href="/projects/blog.html">Projects</a></li>
        <li><a href="/blog.html">All of the above</a></li>
      </ol>

      <h3>More Info</h3>
      <ol>
        <li><a href="/">About me</a></li>
        <li><a href="http://twitter.com/enebo" title="Thorsten Böttger's account on Twitter">Twitter</a></li>
        <li><a href="http://github.com/alto" title="Thorsten Böttger's account on GitHub">GitHub</a></li>
        <li>
          <a href="https://www.xing.com/profile/Thorsten_Boettger2?sc_o=mxb_p" title="Thorsten Böttger's profile on Xing">Xing</a>,
          <a href="http://de.linkedin.com/in/tboettger" title="Thorsten Böttger's profile on LinkedIn">LinkedIn</a>,
          <a href="http://www.zerply.com/profile/alto/public" title="Thorsten Böttger's profile on zerply">zerply</a>
        </li>
      </ol>

      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/" class="hidden-link">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/80x15.png" /></a>
          <br />
          Every <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">Text</span> 
          on this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/" class="hidden-link">Creative Commons-License</a>, 
          if not stated differently.
      </p>

    </section>
    
    &nbsp;
  </div>


  <section class="footer">
    <p>&copy; Thorsten Böttger 1998-2011</p>
    <p>made with love and <a href="http://wiki.github.com/mojombo/jekyll/" class="hidden-link">jekyll</a></p>
    <p>
      layout based on <a href="http://cssgrid.net/" class="hidden-link">1140 css grid</a> 
      and <a href="http://compass-style.org/" class="hidden-link">compass</a>
    </p>
    <p><a href="/imprint.html">Imprint / Impressum</a></p>
    <p class="icon">
      <a title="Real Time Analytics" href="http://getclicky.com/66470288" class="hidden-link">
        <img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" />
      </a>
    </p>
  </section>
</div>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66470288); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66470288ns.gif" /></p></noscript>

</body>
</html>
