<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]>
      <link href="/css/ie.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
  <link href="/css/smallscreen.css" media="only screen and (max-width: 1023px)" rel="stylesheet" type="text/css" />
  <link href="/css/mobile.css" media="handheld, only screen and (max-width: 767px)" rel="stylesheet" type="text/css" />
  
  <link href="/css/fontfaces.css" media="screen" rel="stylesheet" type="text/css" />

  <meta name = "viewport" content = "width = device-width, initial-scale = 1, user-scalable = no">

  <link rel="openid.server" href="https://pip.verisignlabs.com/server" />
  <link rel="openid.delegate" href="http://alto.pip.verisignlabs.com/" />

  <!-- last updated at {{ site.time }} -->
  <!-- last updated at {{ page.current }} -->

  <!-- <link href="http://feeds.feedburner.com/jankrutisch/atom{{page.feed_prefix}}" rel="alternate" title="ATOM Feed" type="application/atom+xml" /> -->
  <!-- <link href="http://feeds.feedburner.com/jankrutisch/rss{{page.feed_prefix}}" rel="alternate" title="RSS Feed" type="application/rss+xml" /> -->
  <title>{{page.title}} - mt7.de</title>
</head>

<body>

<div class="container">

  <section class="header">
    <blockquote>
      <span class="apostroph">&ldquo;</span>
      <p>
        Dream of the kind of world
        <br />
        you wanna live in.
        <br />
        Dream it out loud,
        <br />
        at high volume
      </p>
      <cite>Bono, U2</cite>
    </blockquote>
    <h1><a href="/" class="hidden-link">Thorsten Böttger</a></h1>
  </section>

  <div class="main">
    <section class="content">
    {{ content }}
    </section>



    <section class="sidebar">

      <h3>Blogs</h3>
      <ol>
        <li><a href="/business/blog.html">Ruby</a> (<a href="/business/index.html">index</a>)</li>
        <li><a href="/personal/blog.html">Personal Things</a> (<a href="/personal/index.html">index</a>)</li>
        <li><a href="/projects/blog.html">Projects</a> (<a href="/projects/index.html">index</a>)</li>
      </ol>

      <h3>More Info</h3>
      <ol>
        <li><a href="/">About me</a></li>
        <li><a href="http://twitter.com/enebo" title="Thorsten Böttger's account on Twitter">Twitter</a></li>
        <li><a href="http://github.com/alto" title="Thorsten Böttger's account on GitHub">GitHub</a></li>
        <li>
          <a href="https://www.xing.com/profile/Thorsten_Boettger2?sc_o=mxb_p" title="Thorsten Böttger's profile on Xing">Xing</a>,
          <a href="http://de.linkedin.com/in/tboettger" title="Thorsten Böttger's profile on LinkedIn">LinkedIn</a>
        </li>
        <li><a href="/imprint.html">Imprint / Impressum</a></li>
      </ol>

      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/" class="hidden-link">
          <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/de/80x15.png" /></a>
          <br />
          Every <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">Text</span> 
          on this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/de/" class="hidden-link">Creative Commons-License</a>, 
          if not stated differently.
      </p>


    </section>
  </div>


  <section class="footer">
    <p>&copy; Thorsten Böttger 1998-2011</p>
    <p>made with love and <a href="http://wiki.github.com/mojombo/jekyll/" class="hidden-link">jekyll</a></p>
    <p>layout based on <a href="http://cssgrid.net/" class="hidden-link">1140 css grid and compass</a></p>
  </section>
</div>
